:root {
  --Dark--Blue: hsl(209, 23%, 22%);
  --Very--Dark--Blue: hsl(207, 26%, 17%);
  --Very--Dark--Blue: hsl(200, 15%, 8%);
  --Dark--Gray: hsl(0, 0%, 52%);
  --Very--Light--Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --fs: .875rem;
  --fsl: 1rem;
  --ff:'Nunito Sans', sans-serif;
  --fws: 300;
  --fwm: 600;
  --fwl: 800;
}
body {
  font-family: var(--ff);
}

.nav-para {
  font-size: .9rem;
}
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding-inline: 4rem;
}
@media screen and (min-width: 700px) {
  .main-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 5em;
  }
}
